
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins';

  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/

.bande-titre {
  width: 100%;
  height: 128px;
  background-color: #fcce00;
  color: white;
  font-size:38px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-title {
  margin-top: 8px;
  margin-bottom: 0px;
  width: 100%;
  height: 64px;
  background-color: #ff6b00;
  color: white;
  font-size:38px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.bande-rouge {
  margin-top: 8px;
  margin-bottom: 0px;
  width: 100%;
  height: 32px;
  background-color: #e02020;
}
.bande-violette {
  margin-top: 8px;
  margin-bottom: 0px;
  width: 100%;
  height: 16px;
  background-color: #b620e0;
}
.bande-bleu {
  margin-top: 8px;
  margin-bottom: 0px;
  width: 100%;
  height: 16px;
  background-color: #6236ff;
}

.section-title2 {
  margin-top: 64px;
  margin-bottom: 0px;
  color: black;
  font-size: 40px;
  text-align: center;
}

.boxgauche {
  text-align: justify;
  margin-right: 32px;
  flex-basis: 0;
  flex-grow: 1;
}

.sub-title {
  font-weight: bold;
  font-size:24px;
  text-align: center;
  margin-bottom: 34px;
}

.button{
  align-content:right;
  border: 2px solid #fcce00;
  padding: 6px;
  border-radius:15px;
  font-weight: bold;
  color:#fcce00;
  text-decoration: none;
  float: right;
   }

   .box{
     display: flex;
   }

   .boxdroite{
    background: linear-gradient(#fcce00, transparent) left repeat, url(bitmap.png);
    justify-content: flex-end;
    flex-basis: 0;
    flex-grow: 1;
    margin-top: 32px;
    display: flex;
    align-items: center;
  }
  
  .boxdroite img {
    mix-blend-mode: darken;
  }
  
  p{
    font-size: 16px;
  }

  .boxgauche2{
    background: linear-gradient(#ff6b00, transparent) left repeat, url(bitmap2.png);
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 32px;
    flex-basis: 0;
  flex-grow: 1;
  }
  
  .boxgauche2 img {
    mix-blend-mode: darken;
  }


  .boxdroite2 {
    text-align: justify;
    margin-right: 32px;
    flex-basis: 0;
    flex-grow: 1;
  }

  .button2{
    align-content:right;
    border: 2px solid #ff6b00;
    padding: 6px;
    border-radius:15px;
    font-weight: bold;
    color:#ff6b00;
    text-decoration: none;
    float: right;
     }

     
  .button3{
    align-content:right;
    border: 2px solid white;
    padding: 6px;
    border-radius:15px;
    font-weight: bold;
    color:white;
    text-decoration: none;
    float: left;
     }

    
    .box2{
    
      display:flex;
      background: linear-gradient(red,transparent)left repeat;
    }

    .box2 p {
      color: white;
    }

    .boxgauche3{
      text-align: justify;
      margin-right: 32px;
      flex-basis:0;
      flex-grow:1;
    
    }
    .boxdroite3{
    
      
      justify-content : center; 
      display:flex;
      align-items: center;
      flex-basis:0;
      flex-grow:1;
      margin-top: 32px;
    
      }
    
      .boxdroite3 img {
        mix-blend-mode:darken;
      
      }
      .sub-title3 {
        margin-top:64px;
        margin-bottom: 0px;
        color: white;
        font-size: 40px;
        text-align: left;
      }

      .box3{
    
        display:flex;
        background: linear-gradient( #b620e0,transparent)left repeat;
      }
      .box3 p {
        color: white;
      }

      .box4{
    
        display:flex;
        background: linear-gradient( #6236ff,transparent)left repeat;
      }
      .box4 p {
        color: white;
      }

      .bas-page{

        background:  #231f20;
      }
  
  .ligne {

    display: flex;
  }
  
  .element {
    flex-basis: 0;
    flex-grow: 1;
    margin-top:30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right:30px;
  }

  .titre4 {
    font-size: 40px;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 32px;
  margin-top: 32px;
  }