
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins';

  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/

.bande-titre {
  width: 100%;
  height: 128px;
  background-color: #fcce00;
  color: white;
  font-size:38px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-title {
  margin-top: 8px;
  margin-bottom: 0px;
  width: 100%;
  height: 64px;
  background-color: #ff6b00;
  color: white;
  font-size:38px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.bande-rouge {
  margin-top: 8px;
  margin-bottom: 0px;
  width: 100%;
  height: 32px;
  background-color: #e02020;
}
.bande-violette {
  margin-top: 8px;
  margin-bottom: 0px;
  width: 100%;
  height: 16px;
  background-color: #b620e0;
}
.bande-bleu {
  margin-top: 8px;
  margin-bottom: 0px;
  width: 100%;
  height: 16px;
  background-color: #6236ff;
}

.section-title2 {
  margin-top: 64px;
  margin-bottom: 0px;
  color: black;
  font-size: 40px;
  text-align: center;
}

.boxgauche {
  text-align: justify;
  display: flex;
  width: 50%;
  float: left;
}

.sub-title {
  font-weight: bold;
  font-size:24px;
  text-align: center;
  margin-bottom: 34px;
}

.button{
  align-content:right;
  border: 2px solid #fcce00;
  padding: 6px;
  border-radius:15px;
  font-weight: bold;
  color:#fcce00;
  text-decoration: none;
  float: right;
  
  }